fonttools==4.54.1
gitdb==4.0.11
GitPython==3.1.43
imageio==2.36.0
ipython==8.12.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
numpy==2.1.2
pandas==2.2.3
pipreqs==0.5.0
platformdirs==4.3.6
plotly==5.24.1
streamlit==1.39.0
urllib3==2.2.3
kaleido==0.2.1
